{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'yahtzeeapp/css/style.css' %}">
</head>
<body>
    <div class="buttons-container">
        <div class="registerConteiner">
            <button class="registerButton">Register</button>
            <div class="registerInputData hide">
                <p>Register</p>
                <p class="registerInfo"></p>
                <div class="registerInput">
                    <input class="username">
                    <input class="email" type="email">
                    <input class="password" type="password">
                </div>
                <button class="sendRegisterRequest">Register</button>
            </div>
        </div>

        <div class="logInConteiner">
            <button class="loginButton">Log out</button>
            <div class="logInInputData hide">
                <p>Log in</p>
                <p class="logInInfo"></p>
                <div class="logInInput">
                    <input class="username">
                    <input class="password" type="password">
                </div>
                <button class="sendLogInRequest">Log in</button>
            </div>
        </div>

        <div class="moveBack"></div>
        <div class="newGameConteiner">
            <button class="newGame">Нова гра</button>
            <div class="newGameInputNewGamers hide">
                <button class="addGamer">Додати гравця</button>
                <button class="delGamer">-</button>
                <button class="newGame close">x</button>
                <div class="inputGamers">
                    <input>
                </div>
                <button class="sendNewGameRequest">Почати гру</button>
            </div>
        </div>
    </div>

    <div class="info"></div>
    <div class="board-container">
        <div class="board"></div>
    </div>
    <div class="buttons-container">
        <div class="buttons"></div>
    </div>
<script src="{% static 'yahtzeeapp/js/script.js' %}"></script>
</body>
</html>