{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'yahtzeeapp/css/style.css' %}">
</head>
<body>
    <div class="moveBack"></div>
    <div class="newGameConteiner">
        <button class="newGame">Нова гра</button>
        <div class="newGameInputNewGamers" hidden=true>
            <button class="addGamer">Додати гравця</button>
            <button class="delGamer">X</button>
            <div class="inputGamers">
                <input>
            </div>
            <button class="sendNewGameRequest">Почати гру</button>
        </div>
    </div>

    <div class="info"></div>
    <div class="board"></div>
    <div class="buttons"></div>
<script src="{% static 'yahtzeeapp/js/script.js' %}"></script>
</body>
</html>